build --cxxopt='-std=c++14'
build --cxxopt='-Wall'
build --repo_env=CC=gcc

test --host_javabase=@local_jdk//:jdk
test --javabase=@local_jdk//:jdk
test --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
test --java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
